<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!--  подключаю свои фильтры -->

{% load custom_filters %}!


<!-- Название у нас будет Product -->
{% block title %}
New
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}

<h3>{{ new.dateCreation|date:'d M Y' }}</h3>
<hr>
<h1>{{ new.title|filter_message }}</h1>
<h4>{{ new.text|filter_message }}</h4>
{% endblock content %}