{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{# Импортируем модуль с нашим тегом #}
{% load custom_tags %}

{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>Количество новостей: {{ news|length }}</h1>
   <hr>
   <h3>{{ time_now|date:'M d Y' }}</h3>

   {% if perms.appnews.add_post %}
   <a href="{% url 'post_create' %}">Добавить Пост</a>
   {% endif %}

   {% if news %}
       <table>
           <tr>

               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Описание</td>

               {% if perms.simpleapp.change_news or perms.simpleapp.delete_news %}
                <td>Действия</td>
                {% endif %}

           </tr>

           <!-- Для каждого товара будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           product — переменная цикла, т.е. наш товар полученный из списка -->

           {% for i in news %}
           <tr>

               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ i.title }}</td>
               <td>{{ i.dateCreation }}</td>
               <td>{{ i.text|truncatechars:15 }}</td>

               <td>
                    {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.appnews.change_post %}
                    <a href="{% url 'post_update' pk=i.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.appnews.delete_post %}
                    <a href="{% url 'post_delete' pk=i.id %}">Удалить</a>
                    {% endif %}
                </td>

           </tr>

           {% endfor %}

       </table>
 <hr>
   {% else %}
       <h2>Товаров нет!</h2>
   {% endif %}
{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}