{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{# Импортируем модуль с нашим тегом #}
{% load custom_tags %}

{% block content %}
<h1> Товар </h1>
<hr>

<!--<label for="meeting-time">Choose a time for your appointment:</label>-->

<!--<input type="datetime-local" id="dateCreation"-->
<!--       name="meeting-time" value=""-->
<!--       min="2018-06-07T00:00" max="">-->

<form action="" method="get">
    {% csrf_token %}
    {{ filterset.form.as_p }}
    <input type="submit" value="Поиск"  />
</form>

    {% if post_search %}
        {% for i in post_search %}
        <table>
           <tr>
               <td>{{ i.title }}</td>
               <td>{{ i.dateCreation }}</td>
               <td>{{ i.text|filter_message }}</td>
           </tr>
        </table>
        {% endfor %}
    {% else%}
     <h2>Введите поиск!</h2>
    {% endif %}

{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}